{{#if error}}
    <div class="center-horizontal">
        <div class="message error">
            {{error}}
        </div>
    </div>
{{/if}}

{{#each errors}}
    <div class="center-horizontal">
        <div class="message error">
            {{text}}
        </div>
    </div>
{{else}}

{{/each}}