<nav class="navbar">
    <div class="container">
        <div class="navbar-items">
            <div class="navbar-left">
                <a class="navbar-logo" href="/">Biller</a>
                <a class="navbar-button" href="/">Avaleht</a>
                <a class="navbar-button" href="/Bilanss">Bilanss</a>
                <a class="navbar-button" href="/Profiil">Profiil</a>
            </div>

            <div></div>

            <div class="navbar-right">
                <form method="post" action="/add" class="search">
                    <input type="search" placeholder="Sõbra nimi" name="findName">
                    <button type="submit">Otsi</button>
                </form>
                {{#if user}}
                <a class="navbar-button" href="/logout">Logi välja</a>
                {{else}}
                <a class="navbar-button" href="/login">Logi sisse</a>
                <a class="navbar-button" href="/signup">Registreeru</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>