<nav class="navbar">
    <div class="container">
        <div class="navbar-items">
            <div class="navbar-left">
                <a class="navbar-logo" href="/" alt="avalehele">
                    <svg class="logo" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1612 1024">
                        <path fill="#fff"
                              d="M348.371 548.948c17.595 21.113 24.632 45.746 24.632 73.897 0 38.708-14.076 70.378-38.708 91.491s-63.34 35.189-112.605 35.189h-197.058v-464.495h193.54c45.746 0 80.935 10.557 105.567 31.67s38.708 49.265 38.708 84.454c0 28.151-7.038 52.784-21.113 70.378s-35.189 31.67-59.821 35.189c28.151 7.038 49.265 21.113 66.859 42.227zM116.124 478.57h84.454c24.632 0 42.227-3.519 52.784-14.076s17.595-24.632 17.595-45.746c0-17.595-7.038-35.189-17.595-45.746s-28.151-14.076-52.784-14.076h-84.454v119.643zM260.399 658.034c14.076-10.557 21.113-24.632 21.113-45.746s-7.038-35.189-21.113-45.746c-14.076-10.557-31.67-17.595-56.302-17.595h-87.973v126.68h87.973c24.632-3.519 42.227-7.038 56.302-17.595z"></path>
                        <path fill="#fff"
                              d="M443.381 246.323c10.557-10.557 24.632-14.076 42.227-14.076s31.67 3.519 42.227 14.076c10.557 10.557 14.076 21.113 14.076 35.189s-3.519 24.632-14.076 35.189c-10.557 10.557-24.632 14.076-42.227 14.076s-31.67-3.519-42.227-14.076c-10.557-10.557-14.076-21.113-14.076-35.189-3.519-14.076 3.519-24.632 14.076-35.189zM527.835 387.079v362.447h-91.491v-362.447h91.491z"></path>
                        <path fill="#fff" d="M703.78 263.918v482.089h-91.491v-482.089h91.491z"></path>
                        <path fill="#fff" d="M879.725 263.918v482.089h-91.491v-482.089h91.491z"></path>
                        <path fill="#fff"
                              d="M1301.993 584.137h-263.918c0 31.67 10.557 56.302 24.632 70.378s35.189 21.113 59.821 21.113c21.113 0 38.708-3.519 52.784-14.076s24.632-24.632 28.151-42.227h98.529c-3.519 24.632-14.076 49.265-31.67 66.859-14.076 21.113-35.189 35.189-59.821 45.746s-52.784 17.595-80.935 17.595c-35.189 0-66.859-7.038-95.010-21.113s-49.265-35.189-63.34-63.34c-14.076-28.151-21.113-59.821-21.113-98.529s7.038-70.378 21.113-98.529c14.076-28.151 35.189-49.265 63.34-63.34s59.821-21.113 95.010-21.113c35.189 0 66.859 7.038 95.010 21.113s45.746 35.189 63.34 59.821 21.113 56.302 21.113 87.973c-3.519 10.557-7.038 21.113-7.038 31.67zM1189.388 475.052c-17.595-14.076-38.708-21.113-63.34-21.113s-45.746 7.038-63.34 21.113c-17.595 14.076-24.632 38.708-28.151 66.859h175.945c3.519-28.151-7.038-49.265-21.113-66.859z"></path>
                        <path fill="#fff"
                              d="M1513.127 401.155c21.113-14.076 45.746-21.113 73.897-21.113v98.529h-28.151c-66.859 0-102.048 31.67-102.048 95.010v172.426h-91.491v-358.928h91.491v70.378c17.595-24.632 35.189-42.227 56.302-56.302z"></path>
                        <path fill="#fff" d="M91.491 207.615h59.821v98.529h-59.821v-98.529z"></path>
                        <path fill="#fff" d="M190.021 207.615h59.821v98.529h-59.821v-98.529z"></path>
                        <path fill="#fff" d="M91.491 717.856h59.821v98.529h-59.821v-98.529z"></path>
                        <path fill="#fff" d="M190.021 717.856h59.821v98.529h-59.821v-98.529z"></path>
                    </svg>
                </a>
                <a class="navbar-button" href="/" alt="avalehele">Avaleht</a>
                <a class="navbar-button" href="/Bilanss" alt="bilanss lehele">Bilanss</a>
                <a class="navbar-button" href="/Profiil" alt="profiililehele">Profiil</a>
            </div>

            <div></div>

            <div class="navbar-right">
                {{#if user}}
                    <form itemprop="search" method="post" action="/add" class="search">
                        <label class="peida" for="search">Otsi</label>
                        <input id="search" type="search" placeholder="S천bra nimi" name="findName">
                        <button class="search-button" type="submit" alt="otsi s천pra">Otsi</button>
                    </form>
                    <a rel="nofollow" class="navbar-button" href="/logout" alt="logi v채lja">Logi
                        v채lja</a>
                {{else}}
                    <a rel="nofollow" class="navbar-button" href="/login" alt="logi sisse lehele">Logi
                        sisse</a>
                    <a id="signup" rel="nofollow" class="navbar-button" href="/signup" alt="registreerumise lehele">Registreeru</a>
                {{/if}}
                <a class="navbar-button" href="/Statistics" alt="statistikalehele">Statistika</a>
            </div>
        </div>
    </div>
</nav>