<!--
Bootstrap navbar:
https://getbootstrap.com/docs/4.1/components/navbar/#
-->
<nav class="navbar">
    <div class="container">
        <div class="navbar-items">
            <div class="navbar-left">
                <a class="navbar-logo" href="/">Biller</a>
                <a href="/">Avaleht</a>
                <a href="/Bilanss">Bilanss</a>
            </div>

            <div></div>

            <div class="navbar-right">
                <form class="search">
                    <input type="search" placeholder="Search" aria-label="Sisesta nimi">
                    <button type="submit">Otsi</button>
                </form>
                {{#if user}}
                    <a class="nav-link log" href="/logout">LogOut</a>
                {{else}}
                    <a class="nav-link log" href="/login">LogIn</a>
                    <a class="nav-link sign" href="/signup">SignUp</a>
                {{/if}}
            </div>
        </div>
    </div>
</nav>