<div class="center-horizontal">
    <div class="register">
        <h3>Lisa sündmus (prg pigem makse)</h3>
        <form action="/event" method="post">
            <div class="form-group">
                <label>Sündmuse kirjeldus</label>
                <input type="text" class="form-control" name="eventDescription" value="{{eventDescription}}" required>
            </div>
            <div class="form-group">
                <label>Laenaja id</label>
                <input type="text" class="form-control" name="idFrom" value="{{idFrom}}" required>
            </div>
            <div class="form-group">
                <label>Laenutaja id</label>
                <input type="text" class="form-control" name="idTo" value="{{idTo}}" required>
            </div>
            <div class="form-group">
                <label>Summa</label>
                <input type="text" class="form-control" name="amount" value="{{amount}}" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>