<div class="center-horizontal">
    <div class="register">
        <h2>Kuidas soovid siseneda?</h2>
        <h3>Kasutajatunnuse ja parooliga:</h3>
        <form method="post" action="/login">
            <div class="form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" required>
            </div>
            <div class="form-group">
                <label>Parool</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary">Logi sisse</button>
        </form>
        <h3>Google kontoga:</h3>
        <a class="google" href="/login/google">Logi sisse google kontoga</a>
    </div>
</div>