<h1>Testleht</h1>

<h4>Javascript-ga lehel muudatuste tegemine vastusena kasutaja tegevustele</h4>
<button onclick="testfunction()">Vajuta siia</button>
<div id="testbar" class="testorginal"></div>

<script>
    function testfunction() {
        document.getElementById("testbar").classList.toggle("testchange");
    }
</script>