html {
    background-color: #f5f5f5;
}

body {
    margin: 0;
    font-family: 'Noto Sans KR', sans-serif;
}

/* -- SHORTCUTS test test -- */
.center-vertical {
    display: flex;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

/* TEKSTID */
h1, h2, h3 {
    margin-top: 1.2em;
    margin-bottom: 0.6em;
}
h4, h5, h6 {
    margin-top: 0.9em;
    margin-bottom: 0.5em;
}

p {
    margin-top: 0.7em;
    margin-bottom: 0.3em;
}


a {
    text-decoration: none;
}

a:hover {
    color: red;
}

/* MAIN ASJAD */
*, ::after, ::before {
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1080px;
}

.content {
    /*margin: 8em 0;*/
    margin-top: 8em;
    margin-bottom: 8em;
}

@media screen and (max-width: 32em) {
    .content {
        /*margin: 8em 0;*/
        margin-top: 16em;
        margin-bottom: 8em;
    }
}

/* ELEMENTS */
button {
    color: #fff;
    background-color: #444;
    border: none;
    text-align: center;
    vertical-align: middle;
    padding: .6rem .75rem;
    border-radius: .25rem;
    font-size: 1em;
    margin-bottom: 0.2em;
}

button:hover {
    background-color: #333;
    cursor: pointer;
}

button.accept {
    /*background-color: #bcffa6;*/
    border: 1px solid #56bf66;
    background-color: #74d780;
}
button.decline {
    /*background-color: #ffaea1;*/
    border: 1px solid #bd4c44;
    background-color: #e1685c;
}
button.accept:hover {
    background-color: #56bf66;
}
button.decline:hover {
    background-color: #cc4c44;
}

input {
    padding: .4em .75em;
    font-size: 1em;
    line-height: 1.5;
}

label {
    margin-bottom: 0.6em;
}

table {
    border-spacing: 0;
}
td {
    padding-right: 2.3em;
}

th {
    font-weight: inherit;
}

hr {
    border: none;
    border-bottom: 1px solid #ddd;
    margin: 1.6em 0;
}

form {
    display: inline;
}

/* NAVBAR */
.navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 0.9em;
    z-index: 999;
}

.navbar-items {
    background-color: #333;
    height: auto;
    color: #fff;
    margin: 0.5em 0;
    display: grid;
    gap: 1em;
    grid-template-columns: min-content auto min-content;

    /*display: flex;*/
    /*flex-direction: row;*/
}

.navbar-left {
    display: grid;
    gap: 0.7em;
    grid-template-columns: min-content min-content min-content min-content min-content;
}

.navbar-right {
    display: grid;
    gap: 0.7em;
    grid-template-columns: max-content auto auto;
}

.search {
    display: inline;
    overflow: hidden;
    border-radius: .5em;
    margin: 0.2em 0;
    /*line-height: 1;*/
    /*font-size: 0.8em;*/
}

button.search-button {
    background-color: #555;
    border-radius: 0;
    margin: 0em;
}
button.search-button:hover {
    background-color: #444;
}

.navbar a {
    color: #ddd;
    padding: 0 0.6em;
    margin: 0.34em 0;

    display: flex;
    align-items: center;
    border-radius: 10em;

    white-space: nowrap;
}

.navbar a.navbar-button:hover {
    color: #fff;
    background-color: #555;
    box-sizing: border-box;
}

.navbar a.navbar-button:active {
    color: #333;
    background-color: #333;
}

.logo {
    height: 2.3em;
}

.search {
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 58em) {
    .navbar-items {
        grid-template-columns: min-content min-content;
        grid-template-rows: auto auto;
    }
}

@media screen and (max-width: 26em) {
    .navbar-right {
        grid-template-columns: max-content;
        grid-template-rows: auto auto auto;
    }
}

/* LOGIN/LOGOUT/SIGNUP */
.register {
    max-width: 23em;
    width: 100%;
}

.form-control {
    margin: 0.6em 0 0.4em 0;
    width: 100%;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .25em;
}

.form-group {
    margin-bottom: 0.4em;
}

/* -- ERRORS -- */
.message {
    padding: 1.5em 2em;
    border-radius: .25em;
    background-color: #bcffa6;
    border: 1px solid #69ff6f;
    color: #12a055;
}

.message.error {
    background-color: #ff9bac;
    border: 1px solid #ff6164;
    color: #d02a3d;
}

a.google {
    background-color: #ea4336;
    border: 1px solid #af2c2a;
    color: #fff;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    padding: .5rem .65rem;
    border-radius: .25rem;
    font-size: 1em;
}

a.google:hover {
    background-color: #d6342f;
}


/* -- EVENTS -- */
.card {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: .25em;
    margin: 1.4em 0;
}
.card > div {
    /*padding: 0.3em 1.2em;*/
}
.card-header {
    border-bottom: 1px solid #ccc;
}
.card-content {
    margin: 1.2em 1.4em;
}
.card.transparent {
    background: none;
}

/* BILANSS */
.bilansid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.bilansid .card {
    margin: 0;
}

.bilansid button {
    width: 100%;
}
.bilansid button.accept {
    margin-bottom: 0.2em;
}

@media screen and (max-width: 55em) {
    .bilansid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 45em) {
    .bilansid {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 28em) {
    .bilansid {
        grid-template-columns: 1fr;
    }
}

/* TEST */
.testorginal {
    margin-top: 0.5em;
    width: 2em;
    height: 2em;
    background-color: #ffaea1;
    border: 1px solid #dd2f38;
    transition: all 0.8s ease 0s;
    border-radius: .25rem;
}
.testchange {
    background-color: #bcffa6;
    border: 1px solid #12914a;
    width: 20em !important;
    max-width: 100%;
}

#googleMap {
    width: 100%;
    height: 400px;
}

/* STATISTICS */
#hoursChart {
    height: 20em;
    width: 100%;
}

/* PROFILE */
.image-box {
    height: 200px;
    width: 200px;
}

.profile-image {
    width: min-content;
    max-width: 100%;
}

.choose-file input {
    color: #fff;
    background-color: #444;
    border: 1px solid #222;
    text-align: center;
    vertical-align: middle;
    padding: .6rem .75rem;
    border-radius: .25rem;
    font-size: 1em;
}

/* INDEX */
.category {
    /*padding-left: 1.4em;*/
    /*opacity: 0.45;*/
    margin-top: 1.8em;
}

.description {
    opacity: 0.45;
}

.new-lender {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

@media screen and (max-width: 32em) {
    .new-lender {
        grid-template-columns: 1fr;
        gap: 0;
    }
}